<%- include('cabecera', {titulo: 'Inicio'}) -%>
<div class="section">
  <div class="container">
    <br><br>
    <h1 class="header center-align">Chat MoliMaker</h1>
    <div class="row center-align">
      <h5 class="header col s12">
        Plantilla de Carlos Molina.
      </h5>
    </div>
    <div class="row center-align">
      <a
        href="/login"
        class="btn-large waves-effect waves-light purple"
        target="_blank"
        rel="noopener noreferrer"
        >Iniciar sesión</a
      >
    </div>
    <br><br>
  </div>
</div>

  
<%- include('pie') -%>
